name: "Linting and Tests"

on:
  workflow_call:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Load cached venv
        id: cached-python-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/uv.lock') }}

      - name: Check venv cache
        id: cache-validate
        if: steps.cached-python-dependencies.outputs.cache-hit == 'true'
        run: |
          echo "import discord;print('venv good?')" > test.py && uv run python test.py && echo ::set-output name=cache-hit-success::true
          rm test.py
        continue-on-error: true

      - name: Install dependencies
        run: |
          sudo apt-get update
          uv sync
        if: steps.cached-python-dependencies.outputs.cache-hit != 'true' || steps.cache-validate.outputs.cache-hit-success != 'true'

      - name: Formatting (Ruff)
        run: |
          uv run ruff format . --check

      - name: Lint (Ruff)
        run: |
          uv run ruff check friend_boat

      - name: Mypy
        run: |
          uv run mypy friend_boat

      - name: Pytest
        run: |
          uv run pytest
